<html>
    <head>
        <title>Document</title>
        <meta name="description" content="This website is our group's CPI 310 Project Company and Pitch ">
        <link rel="stylesheet" type="text/css" href="/css/style.css">   
        <link rel="stylesheet" type="text/css" href="/css/pitch.css">

        <title>Waifu Creator: Home</title>
        <meta charset="UTF-8">
    </head>

    <body>
        {{#if error}}
        <div style="background-color: darksalmon">
            {{error}}
        </div>
        {{/if}}
        {{{body}}}
    </body>
</html>