<div class = "gradient">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="team">Meet the Team</a></li>
        </ul>
    </nav>
        <h1>About the Project</h1>
        <div class = "opaque">
            <div class ="pitchText">
                <h2>What's the Waifu Creator?</h2>
                <br>
                <p> Have you ever wanted to create your own anime waifu? Complete with hairstyle, blouse, and skirt? Then welcome to Waifu Creator! With our website, you will be able to create a variety of anime girl characters, create an account, save them to your account, and enjoy your masterpieces! Think your waifu is best waifu?? Then vote it to the top in our Competitive Cuteness Corner! Here, everyone’s creation will be judged voted until only one reigns on top! Kyaaa!!
                </p>
                <br>
                <p> In general, users will be able to create an account, create and save an object to a database, access objects in that database, and interact with other user’s objects through voting. Certain aspects of the website will be limited to users without account, such as only viewing creations. There will be a minimum of two databases, one for users and one for creations, that will communicate with each other and the website. 
                </p>
            </div>
            <div>
                
            </div> 
            <footer> 
            <p>
                Copyright © 2019 Project: Company Website and Pitch<br/>
                <a href = "">info@teamweeb.com</a>
            </p>
        </footer>
        </div>     
</div>