<div class = "gradient">
    <div class = "opaque">
        <div class ="text">
            <h1>Logout</h1>
            <form action="/logout" method="POST">
                <div>   
                    <h2>Are you sure you want to logout?</h2>
                </div>
                <button type="submit">logout</button>
            </form>
            <a href="/">Home</a>
        </div>
    </div>
</div>
