<div class = "gradient">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About the Project</a></li>
            <script src="/js/profile.js"></script>
            <link rel="stylesheet" type="text/css" href="/css/profile.css">
        </ul>
    </nav>
        <h1>Profile</h1>
        <div class = "opaque">
            <div class ="pitchText">

              <h2>{{{user.name}}}'s Waifu</h2>
              <div id="fits">
                <div id="container1">
                  <div id="fit1Location">
                  <img id="body1" src="Images/Outfit/body.png">
                  <img id="hair1" src="Images/Outfit/Hair0.png">
                  <img id="top1" src="Images/Outfit/Top0.png">
                  <img id="bottom1" src="Images/Outfit/Bottom0.png">
                </div>
                </div>

                <div id="container2">
                  <div id="fit2Location">
                  <img id="body2" src="Images/Outfit/body.png">
                  <img id="hair2" src="Images/Outfit/Hair0.png">
                  <img id="top2" src="Images/Outfit/Top0.png">
                  <img id="bottom2" src="Images/Outfit/Bottom0.png">
                </div>
                </div>

                <div id="container3">
                  <div id="fit3Location">
                  <img id="body3" src="Images/Outfit/body.png">
                  <img id="hair3" src="Images/Outfit/Hair0.png">
                  <img id="top3" src="Images/Outfit/Top0.png">
                  <img id="bottom3" src="Images/Outfit/Bottom0.png">
                </div>
                </div>

                <div id="container4">
                  <div id="fit4Location">
                  <img id="body4" src="Images/Outfit/body.png">
                  <img id="hair4" src="Images/Outfit/Hair0.png">
                  <img id="top4" src="Images/Outfit/Top0.png">
                  <img id="bottom4" src="Images/Outfit/Bottom0.png">
                </div>
                </div>
              
            </div>
              <br><br>
            


            </div>
        <footer> 
            <p>
                Copyright © 2019 Project: Company Website<br/>
                <a href = "">info@teamweeb.com</a>
            </p>
        </footer>
        </div>
        
</div>