<div class = "gradient">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About the Project</a></li>
        </ul>
    </nav>
        <h1>Meet the Team</h1>
        <div class = "opaque">
            <div class ="text">
                <img src="Images/annie.jpg" alt="Annie">
                <div class = "welcome-bottom">
                    <p><strong>Annie Nicoloff</strong> is an Informatics major studying at 
                    Arizona State University. <br>She has two tattoos, likes skating, and can occasionally be found hugging trees.</p>
                </div>
                <br>
                
                <img src="Images/ed.jpg" alt="Ed">
                <div class = "welcome-bottom">
                    <p><strong>Edward Amparo</strong> is also an Informatics major studying at 
                    Arizona State University. <br>He works in the IT department on campus, has solo travelled internationally, 
                    and is studying abroad in Japan in the summer of 2020. He hopes to get a job as a computer programmer in Tokyo.</p>
                </div>
                <br>
                
                <img src="Images/kyle.jpg" alt="Kyle">
                <div class = "welcome-bottom">
                    <p><strong>Kyle McNeill</strong> is, again, an Informatics major studying at 
                    Arizona State University. <br>He is a hot up and coming programmer in his final year at ASU.
                    As president of the Anime club, he commands more weebs than anyone else in the Tempe area.</p>
                </div>
                <br>
                <img src="Images/emily.JPG" alt="Emily">
                <div class = "welcome-bottom">
                    <p><strong>Emily Kochi</strong> is, believe it or not, also an Informatics major studying at 
                    Arizona State University. <br>She is an animal foster and shelter volunteer and she has 
                    2 rescue cats of her own.</p>
                </div>
            </div>
            <footer> 
            <p>
                Copyright © 2019 Project: Company Website and Pitch<br/>
                <a href = "">info@teamweeb.com</a>
            </p>
        </footer>
        </div>
        
</div>